@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
:root {
--Soft_orange: hsl(35, 77%, 62%);
--Soft_red: hsl(5, 85%, 63%);
--Off-white: hsl(36, 100%, 99%);
--Grayish_blue: hsl(233, 8%, 79%);
--Dark_grayish_blue: hsl(236, 13%, 42%);
--Very_dark_blue: hsl(240, 100%, 5%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}
li, a {
    list-style: none;
    text-decoration: none;
}

.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 25px;
    margin: 0 auto;
}
.logo-hamburguer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 30px;

}
.modal-background{
    visibility: hidden;
    width: 100vw;
    height: 200vh;
    position: absolute;
    left: 0;
    border: 1px solid red;
    z-index: 1;
    background-color: var(--Very_dark_blue);
    opacity: .5;
}

#hamburguer,#close-hamburguer {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.nav-mobile{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    align-self: flex-end;
    width: 60%;
    height: 100vh;
    background-color: var(--Off-white);
    z-index: 2;
    padding: 27px;
}

#close-hamburguer {   
    text-align: right;
    margin-bottom: 90px;  
}
.nav-mobile__container{
    display: flex;
    flex-direction: column;
    gap:35px;
}
.nav-mobile__container li a{
    color: var(--Very_dark_blue);
    font-size: 20px;
}
.nav-mobile__container li a:hover{
    color: var(--Soft_red);
}
.nav-desktop__container {
    display: none;
    justify-content: flex-end;
    gap: 33px;
}
@media (min-width:1440px) {
    #hamburguer{
        display: none;
    }
    .nav-desktop__container {
        display: flex;
    }    
}
.nav-desktop__container li a{
    color: var(--Dark_grayish_blue);
    font-size: 20px;
}
.nav-desktop__container li a:hover {
    color: var(--Soft_red);
}
#img-principal{
    width: 100%;
}
.title-description__container{
    display: flex;
    flex-direction: column;
}

.principal__title{
    font-size: 2.7rem;
    width: 299px;
    font-weight: 700;
    color: var(--Very_dark_blue);
    margin-bottom: 20px;

}
.principal__description__container{
    color: var(--Dark_grayish_blue);
    width: 350px;
}
.principal__description__container__btn{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 189px;
    height: 49px;
    background-color: var(--Soft_red);
    border-radius: 8px;
    cursor: pointer;
}
.principal__description__container__btn:hover{
    background-color: var(--Very_dark_blue);

}
.principal__description__container__btn a{
    color: white;
    text-transform: uppercase;
    letter-spacing: .3rem;
}

.news {
    margin-top: 70px;
    background-color: var(--Very_dark_blue);
    color: white;
    padding: 25px 36px 25px 20px;
}
.news__title{
    color: var(--Soft_orange);
}
.news__notices {
    padding: 25px 0 50px;
    border-bottom: 1px solid var(--Grayish_blue);
}
.news__notices:last-child{
    border-bottom: none;
    padding-bottom: 0;
}
.news__notices__title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.news__notices__title:hover {
    color: var(--Soft_orange);
}
.news__notices__description {
    font-size: .9rem;
    color: var(--Grayish_blue);
}
@media (min-width:1440px) {
    .principal-news__container {
        display: flex;
    }
    #img-principal {
        width: 64%;
        margin-bottom: 50px;
    }
    .title-description__container{
        flex-direction: row;
        gap: 50px;
    }
    .news{
        margin-top: 0px;    
    }
}
.other-notices {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
@media (min-width:1440px) {
    .other-notices{
        flex-direction: row;
        margin-top: 75px;
    }
}
.other-notices__content{
    display: flex;
}
.other-notices__img img {
   width: 102px;
   height: 132px;
   object-fit: cover;
   margin-right: 15px;
}
.other-notices__content__number{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--Grayish_blue);
    margin-bottom: 10px;
}
.other-notices__content__title{
    font-weight: 700;
    color: var(--Very_dark_blue);
    font-size: 1.1rem;
    margin-bottom: 15px;
}
.other-notices__content__title:hover {
    color: var(--Soft_red);
}
.other-notices__content__description{
    color: var(--Dark_grayish_blue);
    line-height: 1.5rem;
}

.attribution {
    margin-top: 20px;
     font-size: 11px; text-align: center;
    }
.attribution a{ 
    color: hsl(228, 45%, 44%); 
}